.expenses__container{
    background-color: #0d0800;
    width: 80vw;
    padding:5vw
}


@media only screen and (max-width: 500px) {
    .expenses__container{
        background-color: white;
    }
}