@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  height: 100%;
  background-color: #e1ecf6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container{
  background-color: #0d0800;
}

#root{
  width: 80vw;
}

@media only screen and (max-width: 500px) {
  .app-container{
    background-color: white;
  }

  #root{
    width: 100vw;
  }
}